@import url(https://fonts.googleapis.com/css?family=Red+Hat+Display:regular,800,600&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #FFFDF4;
  line-height: 1;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Red Hat Display", sans-serif;
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #FFFDF4;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.loaded body {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 81.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.subtitle {
  font-weight: 800;
  font-size: 36px;
  line-height: 139%;
  text-align: center;
  -webkit-transform: translate(0, 15%);
      -ms-transform: translate(0, 15%);
          transform: translate(0, 15%);
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

._watcher-view .subtitle {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.big-title {
  font-weight: 800;
  font-size: 48px;
  line-height: 104%;
  -webkit-transform: translate(0, 15%);
      -ms-transform: translate(0, 15%);
          transform: translate(0, 15%);
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

._watcher-view .big-title {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #FFFDF4;
  border: 1px solid transparent;
  color: #8c9775;
  -webkit-transform: all 0.5s;
      -ms-transform: all 0.5s;
          transform: all 0.5s;
  border-radius: 40px;
  font-weight: 600;
  padding: 22px 29px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn:hover {
  color: #FFFDF4;
  background-color: transparent;
  border: 1px solid #FFFDF4;
}

.btn-ghost {
  background-color: #8c9775;
  border: 1px solid transparent;
  color: #FFFDF4;
}

.btn-ghost:hover {
  color: #8c9775;
  background-color: transparent;
  border: 1px solid #8c9775;
}

.items-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.item-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  color: #FFFDF4;
  background-color: #8c9775;
  padding: 32px 17px 48px 36px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.item-content p {
  margin-top: 15px;
  font-size: 15px;
  line-height: 133%;
}

.item-contentp:not(:last-child) {
  margin-bottom: 10px;
}

.item-content:nth-child(2n) {
  background-color: #5B6349;
}

.item-content-1 {
  position: relative;
}

.item-content-1::before {
  content: "";
  position: absolute;
  top: -128px;
  left: 0;
  display: block;
  width: 160px;
  height: 155px;
  z-index: 20;
  background: url("../img/options/decor.svg") no-repeat center/cover;
}

.header .header__phone {
  position: relative;
}

.header .header__phone::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background-color: #5B6349;
  -webkit-transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.header .header__phone:hover::before {
  left: 0;
  right: auto;
  width: 100%;
}

.header__container {
  padding: 30px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 66px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 250%;
  color: #545454;
  position: relative;
  padding-bottom: 1px;
}

.menu__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background-color: #5B6349;
  -webkit-transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.menu__link:hover::before {
  left: 0;
  right: auto;
  width: 100%;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  background-color: #8c9775;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__title {
  text-align: center;
}

.footer__subtitle {
  font-size: 24px;
  line-height: 154%;
  color: #5B6349;
  text-align: center;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__up {
  margin-top: 35px;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #5B6349 url("../img/footer//arrow-up.svg") center no-repeat;
  background-size: 50px 50px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #5B6349;
  gap: 5px;
}

.main {
  background-color: #8c9775;
  position: relative;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66%;
          flex: 0 0 66%;
}

.main__title {
  max-width: 640px;
  margin-bottom: 29px;
}

.main__text {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  max-width: 701px;
}

.main__btn {
  max-width: 366px;
  z-index: 1;
  margin-top: 20px;
  position: relative;
}

.main__image {
  position: relative;
  z-index: 5;
}

.no-webp .main__image::after{
  background: url("../img/main/decor.png") no-repeat center/cover; }

.main__image::after {
  content: "";
  position: absolute;
  width: 722px;
  height: 712px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.target__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.target__title {
  color: #8c9775;
  max-width: 770px;
}

.target__subtitle {
  color: #545454;
  text-align: center;
}

.target__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.target__list {
  max-width: 658px;
  position: relative;
}

.target__item {
  list-style: disc;
  font-weight: 600;
  line-height: 170%;
  color: #545454;
  opacity: 0;
  -webkit-transform: translate(0, 15%);
      -ms-transform: translate(0, 15%);
          transform: translate(0, 15%);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

._watcher-view .target__item {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

._watcher-view .target__item:nth-child(1) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

._watcher-view .target__item:nth-child(2) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.target__item:not(:last-child) {
  margin-bottom: 20px;
}

.target__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.target__button {
  background-color: #8c9775;
  color: #FFFDF4;
  font-weight: 600;
  font-size: 20px;
  padding: 22px 66px;
}

.problems {
  background-color: #8c9775;
  color: #FFFDF4;
}

.problems__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.problems__title {
  max-width: 677px;
}

.problems__text {
  max-width: 925px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
}

.problems__text span {
  font-weight: 800;
  border-bottom: 1px solid #8c9775;
}

.options__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.options__title {
  color: #8c9775;
  text-align: center;
  max-width: 930px;
  margin-bottom: 100px;
}

.product__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__title {
  text-align: center;
  color: #8c9775;
  margin-bottom: 15px;
}

.product__item {
  list-style-type: disc;
  color: #545454;
  opacity: 0;
  -webkit-transform: translate(0, 15%);
      -ms-transform: translate(0, 15%);
          transform: translate(0, 15%);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

._watcher-view .product__item {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

._watcher-view .product__item:nth-child(1) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

._watcher-view .product__item:nth-child(2) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.product__item:not(:last-child) {
  margin-bottom: 10px;
}

.product__text {
  margin-top: 40px;
  text-align: center;
  color: #8c9775;
  font-weight: 800;
  font-size: 24px;
  padding-bottom: 5px;
  border-bottom: 1px solid #8c9775;
}

.result {
  padding-top: 20px;
  padding-bottom: 95px;
}

.result__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
  margin-right: 10px;
}

.result__title {
  color: #545454;
}

.result__text {
  color: #8c9775;
  max-width: 675px;
  line-height: 150%;
}

.result__button {
  background-color: #8c9775;
  color: #FFFDF4;
  max-width: 366px;
}

.about {
  position: relative;
  background-color: #8c9775;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57%;
          flex: 0 0 57%;
}

.about__image {
  position: relative;
  margin-bottom: -140px;
}

.about__image::before {
  content: "";
  position: absolute;
  right: 10px;
  top: -66px;
  display: block;
  width: 148px;
  height: 147px;
  background: url("../img/about/decor.svg") no-repeat;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.about__title {
  max-width: 485px;
}

.about__subtitle {
  margin-top: 10px;
  font-weight: 600;
  max-width: 410px;
  font-size: 24px;
  line-height: 125%;
  color: #5B6349;
}

.about__text {
  line-height: 150%;
  max-width: 701px;
  margin-bottom: 10px;
}

.about__text-me {
  font-weight: 800;
}

.about__button {
  background-color: #5B6349;
  color: #FFFDF4;
  max-width: 366px;
}

.stages__title {
  color: #8c9775;
  margin-bottom: 57px;
}

.stages__item {
  position: relative;
  min-height: 180px;
}

.result-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  margin-top: 50px;
}

.result-stage__item {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #FFFDF4;
  border-radius: 20px;
  padding: 0px 17px 0px 36px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.stages__item:hover .result-stage__item {
  height: 100%;
  padding: 32px 17px 48px 36px;
}

.stage-item__title {
  color: #8c9775;
  margin-bottom: 20px;
  text-align: left;
}

.stage-item__text {
  color: #545454;
  line-height: 150%;
  max-width: 335px;
}

.start {
  background-color: #8c9775;
}

.start__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.start__title {
  color: #FFFDF4;
}

.start__subtitle {
  color: #5B6349;
  font-weight: 600;
  margin-bottom: 10px;
}

.start__text {
  color: #FFFDF4;
  line-height: 150%;
  max-width: 717px;
}

.start__text p:not(:last-child) {
  margin-bottom: 20px;
}

.start__button {
  color: #FFFDF4;
  background-color: #5B6349;
  max-width: 366px;
  position: relative;
}

.start__button::before {
  content: "";
  display: block;
  width: 175px;
  height: 162px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/start/decor.svg") no-repeat/cover;
}

.start__image {
  margin-right: -345px;
}

.guarantee {
  color: #8c9775;
}

.guarantee__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.guarantee__title {
  color: #5B6349;
}

.information {
  background-color: #5B6349;
}

.information__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.information__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  max-width: 778px;
}

.information__title {
  color: #FFFDF4;
  text-align: left;
}

.information__subtitle {
  color: #8c9775;
  font-size: 24px;
  line-height: 154%;
  font-weight: 600;
}

.information__item {
  line-height: 150%;
  opacity: 0;
  -webkit-transform: translate(0, 15%);
      -ms-transform: translate(0, 15%);
          transform: translate(0, 15%);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

._watcher-view .information__item {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

._watcher-view .information__item:nth-child(1) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

._watcher-view .information__item:nth-child(2) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

._watcher-view .information__item:nth-child(3) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

._watcher-view .information__item:nth-child(4) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

._watcher-view .information__item:nth-child(5) {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

._watcher-view .information__item:nth-child(6) {
  -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s;
}

._watcher-view .information__item:nth-child(7) {
  -webkit-transition-delay: 2.1s;
          transition-delay: 2.1s;
}

._watcher-view .information__item:nth-child(8) {
  -webkit-transition-delay: 2.4s;
          transition-delay: 2.4s;
}

._watcher-view .information__item:nth-child(9) {
  -webkit-transition-delay: 2.7s;
          transition-delay: 2.7s;
}

.information__button {
  max-width: 584px;
  position: relative;
}

.information__image {
  margin-right: -285px;
  position: relative;
}

.information__image::before {
  -webkit-transform: rotate(160deg);
      -ms-transform: rotate(160deg);
          transform: rotate(160deg);
  content: "";
  display: block;
  width: 9.25rem;
  height: 9.1875rem;
  position: absolute;
  top: 0;
  z-index: 50000;
  right: 0;
  background: url("../img/information/decor.svg");
}

@media (min-width: 81.875em) {
  .btn {
    font-size: 1.25rem;
  }

  .item-content-1::before {
    top: -8rem;
  }

  .item-content-1::before {
    width: 10rem;
  }

  .item-content-1::before {
    height: 9.6875rem;
  }

  .footer {
    padding-top: 3.125rem;
  }

  .footer {
    padding-bottom: 3.125rem;
  }

  .footer__title {
    font-size: 2.25rem;
  }

  .footer__social {
    margin-top: 2.5rem;
  }

  .footer__social {
    gap: 3.125rem;
  }

  .main {
    padding-top: 3.125rem;
  }

  .main {
    padding-bottom: 3.125rem;
  }

  .main__title {
    font-size: 3rem;
  }

  .main__text {
    font-size: 1.25rem;
  }

  .target {
    padding-top: 5.3125rem;
  }

  .target {
    padding-bottom: 5.3125rem;
  }

  .target__title {
    font-size: 3rem;
  }

  .target__subtitle {
    font-size: 1.25rem;
  }

  .target__content {
    gap: 3.125rem;
  }

  .target__item {
    font-size: 1.5rem;
  }

  .problems {
    padding-top: 3.125rem;
  }

  .problems {
    padding-bottom: 3.125rem;
  }

  .problems__title {
    margin-bottom: 3.125rem;
  }

  .problems__title {
    font-size: 2.25rem;
  }

  .problems__text {
    font-size: 1.25rem;
  }

  .options {
    padding-top: 4.6875rem;
  }

  .options {
    padding-bottom: 4.6875rem;
  }

  .options__title {
    font-size: 2.25rem;
  }

  .options__title {
    margin-bottom: 6.25rem;
  }

  .product {
    padding-bottom: 4.3125rem;
  }

  .product__item {
    font-size: 1.25rem;
  }

  .product__text {
    font-size: 1.5rem;
  }

  .result__title {
    font-size: 3rem;
  }

  .result__text {
    margin-top: 2.125rem;
  }

  .result__text {
    margin-bottom: 2.125rem;
  }

  .result__text {
    font-size: 1.25rem;
  }

  .about {
    padding-top: 3.125rem;
  }

  .about {
    padding-bottom: 3.125rem;
  }

  .about__title {
    font-size: 3rem;
  }

  .about__subtitle {
    font-size: 1.5rem;
  }

  .about__text {
    font-size: 1.25rem;
  }

  .stages {
    padding-top: 9.375rem;
  }

  .stages {
    padding-bottom: 9.375rem;
  }

  .start {
    padding-top: 3.125rem;
  }

  .start {
    padding-bottom: 3.125rem;
  }

  .start__title {
    font-size: 3rem;
  }

  .start__subtitle {
    font-size: 2.25rem;
  }

  .start__text {
    font-size: 1.25rem;
  }

  .start__button {
    margin-top: 5rem;
  }

  .guarantee {
    padding-top: 3.125rem;
  }

  .guarantee {
    padding-bottom: 3.125rem;
  }

  .guarantee__text {
    gap: 2.5rem;
  }

  .guarantee__text {
    font-size: 2.25rem;
  }

  .information {
    padding-top: 3.125rem;
  }

  .information {
    padding-bottom: 3.125rem;
  }

  .information__info {
    gap: 1.875rem;
  }

  .information__title {
    font-size: 2.25rem;
  }

  .information__subtitle {
    font-size: 1.5rem;
  }

  .information__item {
    font-size: 1.25rem;
  }
}

@media (max-width: 64em) {
  .target__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .target__item {
    text-align: center;
    list-style: none;
  }
}

@media (max-width: 48em) {
  .menu__list {
    gap: 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main__title {
    max-width: 100%;
  }

  .main__text {
    max-width: 100%;
  }

  .no-webp .start{
    background: url("../img/start/background.png") no-repeat center/cover; }

  .start__subtitle {
    display: none;
  }

  .no-webp .information{
    background: url("../img/information/background.png") no-repeat center/cover; }
}

@media (max-width: 20em) {
  .btn {
    font-size: 1rem;
  }

  .item-content-1::before {
    top: -4.6875rem;
  }

  .item-content-1::before {
    width: 6.25rem;
  }

  .item-content-1::before {
    height: 5.9375rem;
  }

  .footer {
    padding-top: 2.1875rem;
  }

  .footer {
    padding-bottom: 1.5625rem;
  }

  .footer__title {
    font-size: 1.75rem;
  }

  .footer__social {
    margin-top: 1.25rem;
  }

  .footer__social {
    gap: 1.875rem;
  }

  .main {
    padding-top: 2.1875rem;
  }

  .main {
    padding-bottom: 1.25rem;
  }

  .main__title {
    font-size: 2.3125rem;
  }

  .main__text {
    font-size: 1.125rem;
  }

  .target {
    padding-top: 1.5625rem;
  }

  .target {
    padding-bottom: 2.5rem;
  }

  .target__title {
    font-size: 1.75rem;
  }

  .target__subtitle {
    font-size: 1.125rem;
  }

  .target__content {
    gap: 1.875rem;
  }

  .target__item {
    font-size: 1.125rem;
  }

  .problems {
    padding-top: 1.5625rem;
  }

  .problems {
    padding-bottom: 1.5625rem;
  }

  .problems__title {
    margin-bottom: 1.25rem;
  }

  .problems__title {
    font-size: 1.875rem;
  }

  .problems__text {
    font-size: 0.875rem;
  }

  .options {
    padding-top: 2.5rem;
  }

  .options {
    padding-bottom: 2.5rem;
  }

  .options__title {
    font-size: 1.625rem;
  }

  .options__title {
    margin-bottom: 4.375rem;
  }

  .product {
    padding-bottom: 1.5625rem;
  }

  .product__item {
    font-size: 1rem;
  }

  .product__text {
    font-size: 1.125rem;
  }

  .result__title {
    font-size: 2.25rem;
  }

  .result__text {
    margin-top: 0.625rem;
  }

  .result__text {
    margin-bottom: 0.625rem;
  }

  .result__text {
    font-size: 1.125rem;
  }

  .about {
    padding-top: 1.5625rem;
  }

  .about {
    padding-bottom: 1.5625rem;
  }

  .about__title {
    font-size: 2.25rem;
  }

  .about__subtitle {
    font-size: 1.25rem;
  }

  .about__text {
    font-size: 1.125rem;
  }

  .stages {
    padding-top: 3.125rem;
  }

  .stages {
    padding-bottom: 3.125rem;
  }

  .start {
    padding-top: 1.5625rem;
  }

  .start {
    padding-bottom: 1.5625rem;
  }

  .start__title {
    font-size: 2.25rem;
  }

  .start__subtitle {
    font-size: 1.75rem;
  }

  .start__text {
    font-size: 1.125rem;
  }

  .start__button {
    margin-top: 1.5625rem;
  }

  .guarantee {
    padding-top: 2.1875rem;
  }

  .guarantee {
    padding-bottom: 1.5625rem;
  }

  .guarantee__text {
    gap: 0.9375rem;
  }

  .guarantee__text {
    font-size: 1.375rem;
  }

  .information {
    padding-top: 1.5625rem;
  }

  .information {
    padding-bottom: 1.5625rem;
  }

  .information__info {
    gap: 0.9375rem;
  }

  .information__title {
    font-size: 1.75rem;
  }

  .information__subtitle {
    font-size: 1.375rem;
  }

  .information__item {
    font-size: 1.125rem;
  }
}

@media (max-width: 93.75em) {
  .start__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .start__image {
    margin-right: -195px;
  }
}

@media (max-width: 81.25em) {
  .start__image {
    margin-right: 0;
  }

  .start__image img {
    width: 100%;
  }

  .information__image {
    margin-right: -170px;
  }
}

@media (max-width: 62.5em) {
  .about__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .about__image {
    margin-bottom: 0rem;
  }

  .about__image img {
    width: 100%;
  }

  .about__image::before {
    display: none;
  }

  .about__title {
    max-width: 100%;
  }

  .about__subtitle {
    max-width: 100%;
  }

  .about__text {
    max-width: 100%;
  }

  .start__container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    text-align: center;
  }

  .start__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .start__image {
    display: none;
  }

  .information__image img {
    width: 100%;
  }
}

@media (max-width: 61.99875em) {
  .btn {
    border: none;
  }
}

@media (max-width: 60.5em) {
  .information__container {
    display: block;
  }

  .information__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    max-width: 100%;
  }

  .information__title {
    text-align: center;
  }

  .information__image {
    display: none;
  }
}

@media (max-width: 58.75em) {
  .items-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .item-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 15px;
  }

  .main__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .stages__item:hover .result-stage__item {
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .stage-item__title {
    text-align: center;
    margin-bottom: 0;
  }
}

@media (max-width: 53.125em) {
  .main__image::after {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .main::after {
    content: "";
    display: block;
    background-color: #5B6349;
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  .main__content {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }

  .main__btn::after {
    content: "";
    background: url("../img/main/decor-arrow.svg") no-repeat center/cover;
    position: absolute;
    width: 70px;
    height: 68px;
    top: -35px;
    right: -78px;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    z-index: 1;
  }
}

@media (max-width: 44.6875em) {
  .product__item {
    text-align: center;
    list-style: none;
  }
}

@media (max-width: 43.75em) {
  .result__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0;
  }

  .result__image {
    display: none;
  }
}

@media (max-width: 42.5em) {
  .header .header__phone {
    display: none;
  }

  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 15px 15px;
  }

  .main__title {
    text-align: center;
  }

  .main__text {
    text-align: center;
  }
}

@media (max-width: 36.875em) {
  .item-content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 35.875em) {
  .main::after {
    height: 40%;
  }

  .main__image img {
    width: 100%;
  }

  .no-webp .target{
    background: url("../img/target/background.png") no-repeat center/cover; }

  .target__title {
    color: #FFFDF4;
  }

  .target__subtitle {
    color: #FFFDF4;
  }

  .target__list {
    max-width: 100%;
  }

  .target__list::before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 12.5rem;
    height: 0.125rem;
    background-color: #FFFDF4;
  }

  .target__list::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 12.5rem;
    height: 0.125rem;
    background-color: #FFFDF4;
  }

  .target__item {
    color: #FFFDF4;
  }

  .target__image {
    display: none;
  }

  .problems {
    background-color: #FFFDF4;
  }

  .problems__title {
    color: #5B6349;
  }

  .problems__text {
    color: #8c9775;
  }

  .no-webp .page__product{
    background: url("../img/result/background.png") no-repeat center/cover; }

  .page__product {
    padding-top: 1.5625rem;
  }

  .product__title {
    color: #FFFDF4;
  }

  .product__item {
    color: #FFFDF4;
  }

  .product__text {
    color: #FFFDF4;
  }

  .result {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .result__content {
    color: #FFFDF4;
  }

  .result__title {
    color: #FFFDF4;
  }

  .result__text {
    color: #FFFDF4;
  }

  .start__button {
    margin-bottom: -60px;
  }

  .information__button {
    margin-bottom: -60px;
  }
}

@media (max-width: 31.25em) {
  .information__button {
    padding: 15px;
  }
}

@media (max-width: 29.25em) {
  .main__btn::after {
    display: none;
  }
}

@media (max-width: 26.875em) {
  .header__container {
    padding: 0px 5px;
  }

  .menu__link {
    font-size: 20px;
  }

  .target__button {
    padding: 15px 20px;
  }
}

@media (min-width: 20em) and (max-width: 81.875em) {
@supports (font-size: clamp( 1rem , 0.9191919192rem  +  0.404040404vw , 1.25rem )) {
    .btn {
      font-size: clamp( 1rem , 0.9191919192rem  +  0.404040404vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9191919192rem  +  0.404040404vw , 1.25rem )) {
    .btn {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (top: clamp( -8rem , -3.6167929293rem  +  -5.3535353535vw , -4.6875rem )) {
    .item-content-1::before {
      top: clamp( -8rem , -3.6167929293rem  +  -5.3535353535vw , -4.6875rem );
    }
}

@supports not (top: clamp( -8rem , -3.6167929293rem  +  -5.3535353535vw , -4.6875rem )) {
    .item-content-1::before {
      top: calc(-4.6875rem + -3.3125 * (100vw - 20rem) / 61.875);
    }
}

@supports (width: clamp( 6.25rem , 5.0378787879rem  +  6.0606060606vw , 10rem )) {
    .item-content-1::before {
      width: clamp( 6.25rem , 5.0378787879rem  +  6.0606060606vw , 10rem );
    }
}

@supports not (width: clamp( 6.25rem , 5.0378787879rem  +  6.0606060606vw , 10rem )) {
    .item-content-1::before {
      width: calc(6.25rem + 3.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (height: clamp( 5.9375rem , 4.7253787879rem  +  6.0606060606vw , 9.6875rem )) {
    .item-content-1::before {
      height: clamp( 5.9375rem , 4.7253787879rem  +  6.0606060606vw , 9.6875rem );
    }
}

@supports not (height: clamp( 5.9375rem , 4.7253787879rem  +  6.0606060606vw , 9.6875rem )) {
    .item-content-1::before {
      height: calc(5.9375rem + 3.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 2.1875rem , 1.884469697rem  +  1.5151515152vw , 3.125rem )) {
    .footer {
      padding-top: clamp( 2.1875rem , 1.884469697rem  +  1.5151515152vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 2.1875rem , 1.884469697rem  +  1.5151515152vw , 3.125rem )) {
    .footer {
      padding-top: calc(2.1875rem + 0.9375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 1.0574494949rem  +  2.5252525253vw , 3.125rem )) {
    .footer {
      padding-bottom: clamp( 1.5625rem , 1.0574494949rem  +  2.5252525253vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 1.0574494949rem  +  2.5252525253vw , 3.125rem )) {
    .footer {
      padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.75rem , 1.5883838384rem  +  0.8080808081vw , 2.25rem )) {
    .footer__title {
      font-size: clamp( 1.75rem , 1.5883838384rem  +  0.8080808081vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.5883838384rem  +  0.8080808081vw , 2.25rem )) {
    .footer__title {
      font-size: calc(1.75rem + 0.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-top: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem )) {
    .footer__social {
      margin-top: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem );
    }
}

@supports not (margin-top: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem )) {
    .footer__social {
      margin-top: calc(1.25rem + 1.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 1.875rem , 1.470959596rem  +  2.0202020202vw , 3.125rem )) {
    .footer__social {
      gap: clamp( 1.875rem , 1.470959596rem  +  2.0202020202vw , 3.125rem );
    }
}

@supports not (gap: clamp( 1.875rem , 1.470959596rem  +  2.0202020202vw , 3.125rem )) {
    .footer__social {
      gap: calc(1.875rem + 1.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 2.1875rem , 1.884469697rem  +  1.5151515152vw , 3.125rem )) {
    .main {
      padding-top: clamp( 2.1875rem , 1.884469697rem  +  1.5151515152vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 2.1875rem , 1.884469697rem  +  1.5151515152vw , 3.125rem )) {
    .main {
      padding-top: calc(2.1875rem + 0.9375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .main {
      padding-bottom: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .main {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 2.3125rem , 2.0902777778rem  +  1.1111111111vw , 3rem )) {
    .main__title {
      font-size: clamp( 2.3125rem , 2.0902777778rem  +  1.1111111111vw , 3rem );
    }
}

@supports not (font-size: clamp( 2.3125rem , 2.0902777778rem  +  1.1111111111vw , 3rem )) {
    .main__title {
      font-size: calc(2.3125rem + 0.6875 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0845959596rem  +  0.202020202vw , 1.25rem )) {
    .main__text {
      font-size: clamp( 1.125rem , 1.0845959596rem  +  0.202020202vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0845959596rem  +  0.202020202vw , 1.25rem )) {
    .main__text {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.5625rem , 0.3503787879rem  +  6.0606060606vw , 5.3125rem )) {
    .target {
      padding-top: clamp( 1.5625rem , 0.3503787879rem  +  6.0606060606vw , 5.3125rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 0.3503787879rem  +  6.0606060606vw , 5.3125rem )) {
    .target {
      padding-top: calc(1.5625rem + 3.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5.3125rem )) {
    .target {
      padding-bottom: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5.3125rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5.3125rem )) {
    .target {
      padding-bottom: calc(2.5rem + 2.8125 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.75rem , 1.345959596rem  +  2.0202020202vw , 3rem )) {
    .target__title {
      font-size: clamp( 1.75rem , 1.345959596rem  +  2.0202020202vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.345959596rem  +  2.0202020202vw , 3rem )) {
    .target__title {
      font-size: calc(1.75rem + 1.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0845959596rem  +  0.202020202vw , 1.25rem )) {
    .target__subtitle {
      font-size: clamp( 1.125rem , 1.0845959596rem  +  0.202020202vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0845959596rem  +  0.202020202vw , 1.25rem )) {
    .target__subtitle {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 1.875rem , 1.470959596rem  +  2.0202020202vw , 3.125rem )) {
    .target__content {
      gap: clamp( 1.875rem , 1.470959596rem  +  2.0202020202vw , 3.125rem );
    }
}

@supports not (gap: clamp( 1.875rem , 1.470959596rem  +  2.0202020202vw , 3.125rem )) {
    .target__content {
      gap: calc(1.875rem + 1.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0037878788rem  +  0.6060606061vw , 1.5rem )) {
    .target__item {
      font-size: clamp( 1.125rem , 1.0037878788rem  +  0.6060606061vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0037878788rem  +  0.6060606061vw , 1.5rem )) {
    .target__item {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.5625rem , 1.0574494949rem  +  2.5252525253vw , 3.125rem )) {
    .problems {
      padding-top: clamp( 1.5625rem , 1.0574494949rem  +  2.5252525253vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 1.0574494949rem  +  2.5252525253vw , 3.125rem )) {
    .problems {
      padding-top: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 1.0574494949rem  +  2.5252525253vw , 3.125rem )) {
    .problems {
      padding-bottom: clamp( 1.5625rem , 1.0574494949rem  +  2.5252525253vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 1.0574494949rem  +  2.5252525253vw , 3.125rem )) {
    .problems {
      padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .problems__title {
      margin-bottom: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .problems__title {
      margin-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.875rem , 1.7537878788rem  +  0.6060606061vw , 2.25rem )) {
    .problems__title {
      font-size: clamp( 1.875rem , 1.7537878788rem  +  0.6060606061vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.7537878788rem  +  0.6060606061vw , 2.25rem )) {
    .problems__title {
      font-size: calc(1.875rem + 0.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7537878788rem  +  0.6060606061vw , 1.25rem )) {
    .problems__text {
      font-size: clamp( 0.875rem , 0.7537878788rem  +  0.6060606061vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7537878788rem  +  0.6060606061vw , 1.25rem )) {
    .problems__text {
      font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.7929292929rem  +  3.5353535354vw , 4.6875rem )) {
    .options {
      padding-top: clamp( 2.5rem , 1.7929292929rem  +  3.5353535354vw , 4.6875rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.7929292929rem  +  3.5353535354vw , 4.6875rem )) {
    .options {
      padding-top: calc(2.5rem + 2.1875 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.7929292929rem  +  3.5353535354vw , 4.6875rem )) {
    .options {
      padding-bottom: clamp( 2.5rem , 1.7929292929rem  +  3.5353535354vw , 4.6875rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.7929292929rem  +  3.5353535354vw , 4.6875rem )) {
    .options {
      padding-bottom: calc(2.5rem + 2.1875 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.625rem , 1.422979798rem  +  1.0101010101vw , 2.25rem )) {
    .options__title {
      font-size: clamp( 1.625rem , 1.422979798rem  +  1.0101010101vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.625rem , 1.422979798rem  +  1.0101010101vw , 2.25rem )) {
    .options__title {
      font-size: calc(1.625rem + 0.625 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 4.375rem , 3.7689393939rem  +  3.0303030303vw , 6.25rem )) {
    .options__title {
      margin-bottom: clamp( 4.375rem , 3.7689393939rem  +  3.0303030303vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 4.375rem , 3.7689393939rem  +  3.0303030303vw , 6.25rem )) {
    .options__title {
      margin-bottom: calc(4.375rem + 1.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 0.6736111111rem  +  4.4444444444vw , 4.3125rem )) {
    .product {
      padding-bottom: clamp( 1.5625rem , 0.6736111111rem  +  4.4444444444vw , 4.3125rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 0.6736111111rem  +  4.4444444444vw , 4.3125rem )) {
    .product {
      padding-bottom: calc(1.5625rem + 2.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1rem , 0.9191919192rem  +  0.404040404vw , 1.25rem )) {
    .product__item {
      font-size: clamp( 1rem , 0.9191919192rem  +  0.404040404vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9191919192rem  +  0.404040404vw , 1.25rem )) {
    .product__item {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0037878788rem  +  0.6060606061vw , 1.5rem )) {
    .product__text {
      font-size: clamp( 1.125rem , 1.0037878788rem  +  0.6060606061vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0037878788rem  +  0.6060606061vw , 1.5rem )) {
    .product__text {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 2.25rem , 2.0075757576rem  +  1.2121212121vw , 3rem )) {
    .result__title {
      font-size: clamp( 2.25rem , 2.0075757576rem  +  1.2121212121vw , 3rem );
    }
}

@supports not (font-size: clamp( 2.25rem , 2.0075757576rem  +  1.2121212121vw , 3rem )) {
    .result__title {
      font-size: calc(2.25rem + 0.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-top: clamp( 0.625rem , 0.1401515152rem  +  2.4242424242vw , 2.125rem )) {
    .result__text {
      margin-top: clamp( 0.625rem , 0.1401515152rem  +  2.4242424242vw , 2.125rem );
    }
}

@supports not (margin-top: clamp( 0.625rem , 0.1401515152rem  +  2.4242424242vw , 2.125rem )) {
    .result__text {
      margin-top: calc(0.625rem + 1.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.1401515152rem  +  2.4242424242vw , 2.125rem )) {
    .result__text {
      margin-bottom: clamp( 0.625rem , 0.1401515152rem  +  2.4242424242vw , 2.125rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.1401515152rem  +  2.4242424242vw , 2.125rem )) {
    .result__text {
      margin-bottom: calc(0.625rem + 1.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0845959596rem  +  0.202020202vw , 1.25rem )) {
    .result__text {
      font-size: clamp( 1.125rem , 1.0845959596rem  +  0.202020202vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0845959596rem  +  0.202020202vw , 1.25rem )) {
    .result__text {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.5625rem , 1.0574494949rem  +  2.5252525253vw , 3.125rem )) {
    .about {
      padding-top: clamp( 1.5625rem , 1.0574494949rem  +  2.5252525253vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 1.0574494949rem  +  2.5252525253vw , 3.125rem )) {
    .about {
      padding-top: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 1.0574494949rem  +  2.5252525253vw , 3.125rem )) {
    .about {
      padding-bottom: clamp( 1.5625rem , 1.0574494949rem  +  2.5252525253vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 1.0574494949rem  +  2.5252525253vw , 3.125rem )) {
    .about {
      padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 2.25rem , 2.0075757576rem  +  1.2121212121vw , 3rem )) {
    .about__title {
      font-size: clamp( 2.25rem , 2.0075757576rem  +  1.2121212121vw , 3rem );
    }
}

@supports not (font-size: clamp( 2.25rem , 2.0075757576rem  +  1.2121212121vw , 3rem )) {
    .about__title {
      font-size: calc(2.25rem + 0.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1691919192rem  +  0.404040404vw , 1.5rem )) {
    .about__subtitle {
      font-size: clamp( 1.25rem , 1.1691919192rem  +  0.404040404vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1691919192rem  +  0.404040404vw , 1.5rem )) {
    .about__subtitle {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0845959596rem  +  0.202020202vw , 1.25rem )) {
    .about__text {
      font-size: clamp( 1.125rem , 1.0845959596rem  +  0.202020202vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0845959596rem  +  0.202020202vw , 1.25rem )) {
    .about__text {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 3.125rem , 1.1047979798rem  +  10.101010101vw , 9.375rem )) {
    .stages {
      padding-top: clamp( 3.125rem , 1.1047979798rem  +  10.101010101vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 1.1047979798rem  +  10.101010101vw , 9.375rem )) {
    .stages {
      padding-top: calc(3.125rem + 6.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.1047979798rem  +  10.101010101vw , 9.375rem )) {
    .stages {
      padding-bottom: clamp( 3.125rem , 1.1047979798rem  +  10.101010101vw , 9.375rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.1047979798rem  +  10.101010101vw , 9.375rem )) {
    .stages {
      padding-bottom: calc(3.125rem + 6.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.5625rem , 1.0574494949rem  +  2.5252525253vw , 3.125rem )) {
    .start {
      padding-top: clamp( 1.5625rem , 1.0574494949rem  +  2.5252525253vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 1.0574494949rem  +  2.5252525253vw , 3.125rem )) {
    .start {
      padding-top: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 1.0574494949rem  +  2.5252525253vw , 3.125rem )) {
    .start {
      padding-bottom: clamp( 1.5625rem , 1.0574494949rem  +  2.5252525253vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 1.0574494949rem  +  2.5252525253vw , 3.125rem )) {
    .start {
      padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 2.25rem , 2.0075757576rem  +  1.2121212121vw , 3rem )) {
    .start__title {
      font-size: clamp( 2.25rem , 2.0075757576rem  +  1.2121212121vw , 3rem );
    }
}

@supports not (font-size: clamp( 2.25rem , 2.0075757576rem  +  1.2121212121vw , 3rem )) {
    .start__title {
      font-size: calc(2.25rem + 0.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.75rem , 1.5883838384rem  +  0.8080808081vw , 2.25rem )) {
    .start__subtitle {
      font-size: clamp( 1.75rem , 1.5883838384rem  +  0.8080808081vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.5883838384rem  +  0.8080808081vw , 2.25rem )) {
    .start__subtitle {
      font-size: calc(1.75rem + 0.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0845959596rem  +  0.202020202vw , 1.25rem )) {
    .start__text {
      font-size: clamp( 1.125rem , 1.0845959596rem  +  0.202020202vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0845959596rem  +  0.202020202vw , 1.25rem )) {
    .start__text {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-top: clamp( 1.5625rem , 0.4513888889rem  +  5.5555555556vw , 5rem )) {
    .start__button {
      margin-top: clamp( 1.5625rem , 0.4513888889rem  +  5.5555555556vw , 5rem );
    }
}

@supports not (margin-top: clamp( 1.5625rem , 0.4513888889rem  +  5.5555555556vw , 5rem )) {
    .start__button {
      margin-top: calc(1.5625rem + 3.4375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 2.1875rem , 1.884469697rem  +  1.5151515152vw , 3.125rem )) {
    .guarantee {
      padding-top: clamp( 2.1875rem , 1.884469697rem  +  1.5151515152vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 2.1875rem , 1.884469697rem  +  1.5151515152vw , 3.125rem )) {
    .guarantee {
      padding-top: calc(2.1875rem + 0.9375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 1.0574494949rem  +  2.5252525253vw , 3.125rem )) {
    .guarantee {
      padding-bottom: clamp( 1.5625rem , 1.0574494949rem  +  2.5252525253vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 1.0574494949rem  +  2.5252525253vw , 3.125rem )) {
    .guarantee {
      padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 0.9375rem , 0.4324494949rem  +  2.5252525253vw , 2.5rem )) {
    .guarantee__text {
      gap: clamp( 0.9375rem , 0.4324494949rem  +  2.5252525253vw , 2.5rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.4324494949rem  +  2.5252525253vw , 2.5rem )) {
    .guarantee__text {
      gap: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.375rem , 1.0921717172rem  +  1.4141414141vw , 2.25rem )) {
    .guarantee__text {
      font-size: clamp( 1.375rem , 1.0921717172rem  +  1.4141414141vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.0921717172rem  +  1.4141414141vw , 2.25rem )) {
    .guarantee__text {
      font-size: calc(1.375rem + 0.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.5625rem , 1.0574494949rem  +  2.5252525253vw , 3.125rem )) {
    .information {
      padding-top: clamp( 1.5625rem , 1.0574494949rem  +  2.5252525253vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 1.0574494949rem  +  2.5252525253vw , 3.125rem )) {
    .information {
      padding-top: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 1.0574494949rem  +  2.5252525253vw , 3.125rem )) {
    .information {
      padding-bottom: clamp( 1.5625rem , 1.0574494949rem  +  2.5252525253vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 1.0574494949rem  +  2.5252525253vw , 3.125rem )) {
    .information {
      padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 0.9375rem , 0.634469697rem  +  1.5151515152vw , 1.875rem )) {
    .information__info {
      gap: clamp( 0.9375rem , 0.634469697rem  +  1.5151515152vw , 1.875rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.634469697rem  +  1.5151515152vw , 1.875rem )) {
    .information__info {
      gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.75rem , 1.5883838384rem  +  0.8080808081vw , 2.25rem )) {
    .information__title {
      font-size: clamp( 1.75rem , 1.5883838384rem  +  0.8080808081vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.5883838384rem  +  0.8080808081vw , 2.25rem )) {
    .information__title {
      font-size: calc(1.75rem + 0.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.375rem , 1.3345959596rem  +  0.202020202vw , 1.5rem )) {
    .information__subtitle {
      font-size: clamp( 1.375rem , 1.3345959596rem  +  0.202020202vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.3345959596rem  +  0.202020202vw , 1.5rem )) {
    .information__subtitle {
      font-size: calc(1.375rem + 0.125 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0845959596rem  +  0.202020202vw , 1.25rem )) {
    .information__item {
      font-size: clamp( 1.125rem , 1.0845959596rem  +  0.202020202vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0845959596rem  +  0.202020202vw , 1.25rem )) {
    .information__item {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 61.875);
    }
}
}

.webp .main__image::after{ background: url(../img/main/decor.webp) no-repeat center/cover; }

@media (max-width: 48em){

  .webp .start{ background: url(../img/start/background.webp) no-repeat center/cover; }
}

@media (max-width: 48em){

  .webp .information{ background: url(../img/information/background.webp) no-repeat center/cover; }
}

@media (max-width: 35.875em){

  .webp .target{ background: url(../img/target/background.webp) no-repeat center/cover; }
}

@media (max-width: 35.875em){

  .webp .page__product{ background: url(../img/result/background.webp) no-repeat center/cover; }
}